@import './assets/mixins';
@import './assets/vars';


.aesthetic{
    margin-top: 105px;
    padding: 170px 0 155px 0;
    background-image: url('./../img/Aesthetic.jpg');
    background-size: cover;
    max-height: 615px;
    @media (max-width: 1600.98px){
        padding: 130px 0 115px 0;
        margin-top: 60px;
    }
    @media (max-width: 768.98px){
        margin-top: 50px;
        padding: 90px 0 80px;
    }

    &__title{
        @include text(60px,700,80px,$colorTitle);
        font-family: "Monserat", sans-serif;
        max-width: 505px;
        position: relative;
        @media (max-width: 768.98px){
            font-size: 55px;
            line-height: 70px;
        }
        @media (max-width: 576.98px){
            font-size: 45px;
            line-height: 50px;
        }
        @media (max-width: 460.98px){
            font-size: 34px;
            line-height: 40px;
        }
        
        &::before{
            position: absolute;
            content: '';
            width: 200px;
            height: 1px;
            background-color: $textColor;
            bottom: -25px;
            left: 0;
        }
    }

    &__text{
        margin-top: 50px;
        max-width: 540px;
        @include text(16px,400,28px,$colorTitle);
        @media (max-width: 460.98px){
            margin-top: 40px;
            font-size: 14px;
            line-height: 23px;
        }
    }
}