@import './assets/mixins';
@import './assets/vars';


.blog-one {
    &__text {

        p {
            margin-bottom: 40px;
            @include text(16px, 400, 27px, $textColor);
        }

        blockquote {
            @include text(24px, 300, 38px, $textColorLight);
            font-style: italic;
            padding: 0 42px;
            margin-bottom: 30px;
        }
    }

    &__author {
        display: block;
        margin-top: 47px;
        @include text(16px, 700, 23px, $textColor);
        font-style: normal;
        position: relative;

        &::before {
            position: absolute;
            content: "";
            width: 177px;
            height: 1px;
            background-color: #6D7278;
            left: 0;
            top: -23px;
        }
    }

    &__tags {
        margin-bottom: 40px;
    }

    &__tags-title {
        @include text(20px, 700, 31px, $colorTitle);
        margin-bottom: 18px;
    }

    &__tags-link {
        border: 1px solid $linkColorGrey;
        border-radius: 24px;
        @include text(14px, 600, 28px, $linkColorGrey);
        padding: 5px 16px;
        margin-right: 23px;
        @media (max-width: 992.98px){
            margin-right: 5px;
            margin-top: 10px;
            display: inline-block;
        }
        &:last-child {
            margin-right: 0;
        }
    }

    &__links {
        border-top: 1px solid $bgColorFooter;
        border-bottom: 1px solid $bgColorFooter;
        padding: 40px 33px 33px;
        @include flex(flex,row,space-between,center);
        margin-bottom: 35px;
    }
    &__link{
        display: block;
        @include text(14px, 600, 28px, #707070);
        max-width: 240px;
        position: relative;
        @media (max-width: 576.98px){
            max-width: 125px;
            line-height: 20px;
            font-size: 12px;
        }
        &::before{
            position: absolute;
            content: "";
            width: 12px;
            height: 23px;
            top: 50%;
            transform: translateY(-50%);
            background-repeat: no-repeat;
            background-size: 100%;
        }
    }
    &__link-prev {
        padding-left: 44px;
        text-align: left;
        @media (max-width: 576.98px){
            padding-left: 25px;
        }
        &::before{
            background-image: url('./../img/blog-page/links-prev.svg');
            left: 0;
        }
    }
    &__link-next{
        text-align: right;
        padding-right: 44px;
        @media (max-width: 576.98px){
            padding-right:25px;
        }
        &::before{
            background-image: url('./../img/blog-page/links-next.svg');
            right: 0;
        }
    }

    &__coments{
        margin-bottom: 40px;
    }
    &__coments-title{
        @include text(20px,700,31px,$colorTitle);
        margin-bottom: 20px;
    }
    &__coments-items{
        @include flex(flex,row,space-between,flex-start);
    }
    &__coments-avatar{
        width: 64px;
        height: 64px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 13px;
    }
    &__coments-name{
        @include text(16px,700,23px,$colorTitle);
    }
    &__coments-date{
        margin-bottom: 40px;
        @include text(14px,700,28px,$textColorLight);
    }
    &__coments-text{

    }
    &__reply{
        margin-left: 5px;
    }

    &__form{
        @include flex(flex,column,flex-start,flex-start)
    }
    &__form-title{
        margin-bottom: 25px;
        @include text(16px,700,23px,$colorTitle);
    }

    &__form-textarea{
        border: 1px solid $bgColorFooter;
        min-width: 100%;
        border-radius: 24px;
        padding: 14px 27px;
        resize: none;
        margin-bottom: 12px;
        min-height: 125px;
        &::placeholder{
            @include text(16px,400,27px,$textColorLight);
        }
    }
    &__input-wrap{
        display: flex;
        width: 100%;
    }
    &__form-input{
        border: 1px solid $bgColorFooter;
        border-radius: 20px;
        padding: 6px 17px;
        width: 43%;
        margin-bottom: 20px;
        margin-right: 10px;
        &::placeholder{
            @include text(16px,400,27px,$textColorLight);
        }
    }
    &__form-label{
        @include text(16px,400,27px,$textColorLight);
        margin-bottom: 20px;
    }
    &__form-btn{
        background-color: $colorTitle;
        border-radius: 24px;
        padding: 6px 60px;
        @include text(16px,600,28px,$primaryColor);
    }
}