@import './assets/mixins';
@import './assets/vars';

.contact{
    margin-top: 55px;
    @media (max-width: 1600.98px){
        margin-top: 25px;
    }
    &__inner{
        @include flex (flex,column,center,flex-end);
    }

    &__title{
        @include text (36px,700,60px,$colorTitle);
        font-family: 'Monserat',sans-serif;
        align-self: flex-start;
        position: relative;
        @media (max-width: 576.98px){
            font-size: 30px;
            line-height: 50px;
        }
        &::before{
            position: absolute;
            content: " ";
            width: 200px;
            height: 1px;
            background-color: $colorTitle;
            bottom: -15px;
            left: 0;
            @media (max-width: 576.98px){
                bottom: -7px;
            }
        }
    }
    &__info{
        margin-top: 60px;
        max-width: 830px;
        @media (max-width: 576.98px){
            margin-top: 30px;
        }
    }
    &__list{
        display: flex;
    }
    &__list-item{
        margin-right: 35px;
    }
    &__list-item:last-child{
        margin-right: 0;
    }
    &__text{
        margin-top: 20px;
        @include text (16px,400,28px,$textColorLight);
        @media (max-width: 576.98px){
            font-size: 12px;
            line-height: 18px;
        }
    }

    &__details{
        margin-top: 15px;
        @media (max-width: 576.98px){
            margin-top: 10px;
        }
    }
    &__detail{
        display: block;
        @include text (16px,400,27px,$textColor);
        @media (max-width: 576.98px){
            font-size: 10px;
            line-height: 14px;
        }
    }
    &__detail-email{
        margin-top: 15px;
        color: $colorTitle;
        @media (max-width: 576.98px){
            margin-top: 5px;
        }
    }
    &__form{
        margin-top: 25px;
    }
    &__input-wrap{
        display: flex;
        @media (max-width: 576.98px){
            flex-wrap: wrap;
        }
    }
    &__form-input{
        border: 1px solid $textColorLight;
        border-radius: 24px;
        height: 40px;
        padding-left: 20px;
        width: 100%;
        @media (max-width: 576.98px){
            margin-top: 10px;
        }
    }
    &__form-input:first-child{
        margin-right: 10px;
        @media (max-width: 576.98px){
            margin: 10px 0 0 0;
        }
    }
    &__form-input:focus{
        box-shadow: 0 4px rgba(0, 0, 0, 0.25);
    }
    &__form-textarea{
        border-radius: 24px;
        margin-top: 15px;
        resize: none;
        min-width: 100%;
        min-height: 125px;
        border: 1px solid $textColorLight;
        &::placeholder{
            padding: 14px 0 0 16px;
        }
    }
    &__form-btn{
        margin-top: 20px;
        background-color: $colorTitle;
        @include text (16px,400,28px,#fff);
        border-radius: 24px;
        width: 180px;
        height: 40px;
        @media (max-width: 576.98px){
            font-size: 14px;
            line-height: 18px;
            height: 35px;
            width: 110px;
            margin-top: 15px;
        }
    }
}